$widget-dark: #3e4149;
$primary-background: #111214;
$lighter-gray: #444f5a;
$pink: #FF9999;
$light-pink: #FFEFEF;

body {
  background: $primary-background;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  // height: 100em;
  // width: 60em;
  min-height: 100em;
  // min-width: 40em;
  font-family: 'Verdana', sans-serif;
  //justify-content: center;
}

.hidden {
  display: none!important;
}

.header {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  column-gap: 2%;
  // column-rule: 0.5px double $widget-dark;
  padding: 1%;
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  color: $light-pink;
  text-align: right;
  margin-bottom: 3%;
  height: 5%;
  transition: 2s;

  .menu-option {
    padding: 2% 1% 2% 1%;
    text-align: center;
    padding: 2%;
    text-align: center;
    justify-content: center;
    //transition: 2s;
    border-radius: 5px;
    font-size: 22px;
    column-rule: 0.5px double $widget-dark;

    &:hover {
      color: $primary-background;
      background-color: $light-pink;
      transition: 0.3s;
      transition-timing-function: linear;
    }
  }

  .logo-text {
    font-family: 'Dancing Script';
    font-size: 50px;
  }


}

.main {
  background: $primary-background;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height:100%;
  min-height: 60em;
  width: 100%;
  padding: 5% 0% 5% 0%;

  section {
    align-self: center;
  }
}

.login-widget {
  display:flex;
  flex-direction: column;
  font-size: 30px;
  background: $widget-dark;
  width: 60%;
  height: 60%;
  border: $light-pink 5px solid;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  margin: 2%;
  transition: 2s;

  a {
    margin: 1%;
  }

  .login-button {
    border-radius: 5px;
    padding: 2%;
    margin: 5%;
    font-size: 20px;
    width: 50%;
    background: $primary-background;
    color: $light-pink;
    align-self: center;
    border: $light-pink 3px solid;

    &:hover {
      color: $primary-background;
      border: $primary-background 3px solid;
      background: $light-pink;
      transition: .4s;
    }
  }
}

.input {
  font-size: 30px;
  padding: 2%;
  border-radius: 5%;
  background-color: $light-pink;
  border: $primary-background 3px solid;
  margin: 1%;
  height: 35%;
  width: 40%;

  &:hover{
    font-weight: bold;
  }
}

.traveler-dashboard {
  display:flex;
  flex-direction: column;
  font-size: 30px;
  background: $widget-dark;
  width: 90%;
  height: 70%;
  border: $light-pink 5px solid;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  margin: 2%;
  transition: 2s;
  padding: 1%;
}

.traveler-dashboard-header {
  display: flex;
  flex-direction: row;
  width: 98%;
  padding: 1% 1% 1% 1%;
  justify-content: space-between;


  h2 {
    color: $pink;
    font-family: 'Dancing Script';

  }

  section {
    background-color: $light-pink;
    font-size: 20px;
    color: $primary-background;
    border: $primary-background 3px solid;
    border-radius: 5px;
    padding: 1%;
  }
}

.traveler-dashboard-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.traveler-dashboard-widget {
  background-color: $light-pink;
  border: $primary-background solid 3px;
  border-radius: 5px;
  margin: 1%;
  width: 90%;
  // flex-direction: column;
}

.traveler-trip-info {
  width: 95%;
  height: 100%;


  .trip-info-section {
    border-radius: 5px;
    background-color: $primary-background;
    margin: 3%;
    padding:2%;

   h1 {
     color: $pink;
     text-align: left;
     margin: 1%;
   }

   .trip-info-content {
     font-size: 15px;
     color: $light-pink;
   }
  }
}



  .planner-section {
    border-radius: 5px;
    background-color: $primary-background;
    margin: 3%;
    padding: 2%;
    //text-align: left;
    color: $pink;

    section {
      text-align: left;
    }
  }

.trip-info-form {
  font-size: 25px;

  .info-form {
    display: none;

    button {
      font-size: 25px;
      background-color: $light-pink;
      border-radius: 5px;
      border: solid $widget-dark 3px;
      height: 60%;
      width: 60%;
      padding: 1%;
      align-self: center;
      margin: 1%;

      &:hover {
        background-color: $widget-dark;
        border: solid $pink 3px;
        color: $light-pink;
        transition: 0.3s;
      }
    }
  }

  .info-form-input {
    line-height: 1.5;

  }
}

.trip-booking {

  h2 {
    font-size: 30px;
  }

  a {
    font-size: 25px;
    color: $light-pink;
  }
}

.new-trip-info {
  font-size: 20px;
  text-align: left;
  border-top: 3px solid $widget-dark;

  a {
    font-weight: bolder;
  }
}

.planner-input {
  border-radius: 5px;
  border: solid $widget-dark 3px;
  background-color: $light-pink;
  &:hover{
    border: solid $pink;
  }
}

.planner-input-date {
  font-size: 20px;
  width: 40%;
  font-family: 'Verdana', sans-serif;
}

.planner-input-duration {
  font-size: 25px;
  width: 40%;
}

.planner-input-travelers {
  font-size: 25px;
  width: 25%;
}

.planner-button {
  font-size: 25px;
  background-color: $light-pink;
  border-radius: 5px;
  border: solid $widget-dark 3px;
  height: 60%;
  width: 60%;
  padding: 1%;
  align-self: center;
  margin: 1%;

  &:hover {
    background-color: $widget-dark;
    border: solid $pink 3px;
    color: $light-pink;
    transition: 0.3s;
  }
}

.potential-trips {

}

.potential-trip {
  height: auto;
  max-width: 45%;
  border-radius: 5px;
  border: solid 3px $pink;
  padding: 1%;
  margin:1%;


  .destination-card-title {
    font-size: 25px;
    align-self: center;
    font-weight: bolder;
  }

  .destination-card-info {
    font-size: 20px;
  }

  .destination-image {
    border-radius: 5px;
    max-width: 90%;
    align-self: center;
  }
}

.book-trip-button {
  font-size: 15px;
  background-color: $light-pink;
  border-radius: 5px;
  border: solid $widget-dark 3px;
  height: 60%;
  width: 90%;
  padding: 1%;
  align-self: center;
  margin: 1%;

  &:hover {
    background-color: $widget-dark;
    border: solid $pink 3px;
    color: $light-pink;
    transition: 0.3s;
  }
}
